.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 10rem;
}

.logo {
    height: 40px;
}

.navLinks {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
}

.link {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

.link:hover {
    text-decoration: underline;
}

.button {
    background-color: #00B2D6;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
}

.button:hover {
    opacity: 0.8;
    text-decoration: none;
}